.Glasses {
  background-image: url(./BaiTapMatKinh/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title_1,
.title_2 {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_1 img,
.title_2 img {
  max-width: 100%;
  max-height: 100%;
}
.row{
  padding: 220px 20px;
}