.item{
  font-size: 2rem;
  width: 4rem
  ;
  height: 4rem
  ;
  color: #D0F2FF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.item i{
  padding: 1rem;
}

.content{
  padding: 0 2rem 2rem;
}

.mt-n4{
  margin-top: -1.5rem !important;
}
.bg-primary{
  border-radius: 1rem;
}
.content_footer h1{
  font-size: 2rem;
  
}